# Core dependencies
openai==0.28.0
python-dotenv
numpy
scipy
sounddevice
edge-tts
pyttsx3

# Audio & Speech
playsound==1.2.2
PyAudio
pvporcupine
gtts

# Language & AI
langchain-chroma
langchain-groq
langchain-google-genai
chromadb
instructor
pydantic

# Utilities & API Clients
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
gspread
requests
pyperclip
colorama
tavily-python

# Web UI (optional)
streamlit
streamlit-webrtc